@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
header {
  font: bold roboto;
  text-align: center;
  text-decoration: underline;
}

body {
  text-align: center;
  font: rubik;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
}

p {
  font-style: italic;
  text-align: center;
  color: green;
}

h2 {
  color: white;
  font: bold Rubik;
}

list {
  font-style: italic;
  color: white;
}

img {
  Border: solid 8px;
  margin: 0 auto;
  color: orange;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 15px orange;
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: red;
  font-family: 'Philosopher', sans-serif;
}

h3 {
  color: white;
  font-size-adjust: 0.56;
}

link {
  color: white;
}

h4 {
  border-radius: 4px;
  border: solid 4px;
  color: whitesmoke;
  font: bold 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 0 10px white, 0 0 15px white, 0 0 25px white;
}

li {
  color: cyan;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

button1 {
  padding: 10px;
  font-size: 20px;
  float: right;
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 100px;
}

iframe {
  Border: solid 8px;
  margin: 0 auto;
  color: orange;
  border-radius: 8px;
  text-align: center;
}

button {
  padding: 10px;
  font-size: 20px;
  border-radius: 1000000px;
  list-style-type: none;
  font-family: 'rubik';
}

button:hover {
  color: #ffffff;
  background: #cac712;
  box-shadow: 0 0 10px #ffae00, 0 0 40px #ffae00, 0 0 80px #ffae00;
  transition-delay: 0.1s;
}

button1:hover {
  color: #ffbb00;
  background: #ff0000;
  box-shadow: 0 0 10px #d40d0d, 0 0 40px #d40d0d, 0 0 80px #d40d0d;
  transition-delay: 0.2s;
}

hr {
  box-shadow: 0 0 10px orange, 0 0 15px orange, 0 0 25px orange;
  color: orange;
}

header {
  font-family: 'Philosopher', sans-serif;
}

section {
  padding: 0px 50px 0px;
}
